h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    margin: 0 0 0.5rem 0;
    font-weight: bold;
}

h1,
.h1 {
    // @include font-size(7.4rem);
    font-weight: 700;
    font-size: 85px;
    letter-spacing: -1.88px;
    line-height: 1.024;
}

h2,
.h2 {
    // @include font-size(5.6rem);
    font-weight: 700;
    font-size: 45px;
    letter-spacing: -0.99px;
    line-height: 1.289;
}

h3,
.h3,
h4,
.h4,
h5,
.h5 {
    // @include font-size(4.8rem);
    font-weight: 700;
    font-size: 29px;
    letter-spacing: -0.64;
    line-height: 1.172;
}
