h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    margin: 0 0 0.5rem 0;
    font-weight: bold;
}

h1,
.h1 {
    @include font-size(8.5rem);
    font-weight: 700;
    letter-spacing: -0.188rem;
    line-height: 1.024;
}

h2,
.h2 {
    @include font-size(4.5rem);
    font-weight: 700;
    letter-spacing: -0.099rem;
    line-height: 1.289;
}

h3,
.h3,
h4,
.h4,
h5,
.h5 {
    @include font-size(2.9rem);
    font-weight: 700;
    letter-spacing: -0.064rem;
    line-height: 1.172;
}
