.latest-news {
    background-color: $clr-white;
    color: $clr-midnight-blue;
    padding: 6rem 0;

    @include media-breakpoint-up(lg) {
        padding: 12.6rem 0 15.4rem 0;
    }

    &__heading {
        margin: 0 0 6rem;
        text-align: center;

        @include media-breakpoint-up(lg) {
            margin: 0 0 8.8rem;
        }
    }
}
