.square-links {
    &__single {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 1;
        position: relative;

        @media (hover: hover) {
            &:hover {
                .square-links__single-overlay {
                    opacity: 1;
                    pointer-events: unset;
                }
            }
        }
    }

    &__single-overlay {
        position: absolute;
        text-align: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($clr-orange, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 10vw;

        @include media-breakpoint-up(md) {
            @media (hover: hover) {
                opacity: 0;
                pointer-events: none;
                transition: 0.3s ease all;
            }
        }
    }
}
