.text-and-image {
    padding: 7rem 0;

    @include media-breakpoint-up(sm) {
        padding: 9rem 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 11rem 0 13rem 0;
    }

    @include media-breakpoint-up(xxl) {
        padding: 14.6rem 0 16.4rem 0;
    }

    &--white {
        background-color: $clr-white;
        color: $clr-midnight-blue;
    }

    &--triangle-top-left {
        @include media-breakpoint-up(lg) {
            position: relative;
            z-index: 2;
        }

        &:before {
            @include media-breakpoint-up(lg) {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                top: 0;
                left: 0;
                border-width: 30vw 30vw 0 0;
                border-color: $clr-primary-blue transparent transparent
                    transparent;
                z-index: -1;
            }
        }
    }

    &--triangle-top-right {
        @include media-breakpoint-up(lg) {
            position: relative;
            z-index: 2;
        }

        &:before {
            @include media-breakpoint-up(lg) {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                top: 0;
                right: 0;
                border-width: 0 30vw 30vw 0;
                border-color: transparent $clr-primary-blue transparent
                    transparent;
                z-index: -1;
            }
        }
    }

    &--triangle-bottom-left {
        @include media-breakpoint-up(lg) {
            position: relative;
            z-index: 2;
        }

        &:before {
            @include media-breakpoint-up(lg) {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                bottom: 0;
                left: 0;
                border-width: 30vw 0 0 30vw;
                border-color: transparent transparent transparent
                    $clr-primary-blue;
                z-index: -1;
            }
        }
    }

    &--triangle-bottom-right {
        @include media-breakpoint-up(lg) {
            position: relative;
            z-index: 2;
        }

        &:before {
            @include media-breakpoint-up(lg) {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                bottom: 0;
                right: 0;
                border-width: 0 0 30vw 30vw;
                border-color: transparent transparent $clr-primary-blue
                    transparent;
                z-index: -1;
            }
        }
    }

    &--bigger-text {
        p {
            @include media-breakpoint-up(md) {
                font-size: 2.5rem;
            }
        }
    }

    &--no-pb {
        padding: 7rem 0 3rem 0;

        @include media-breakpoint-up(sm) {
            padding: 9rem 0 3rem 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 11rem 0 3rem 0;
        }

        @include media-breakpoint-up(xxl) {
            padding: 14.6rem 0 3rem 0;
        }
    }

    &__img {
        margin: 3rem 0 0 0;

        @include media-breakpoint-up(lg) {
            margin: 6.5rem 0 0 0;
        }
    }
}

.text-and-image + .text-and-image {
    &:not(.text-and-image--white) {
        padding-top: 0;
    }
}

.text-and-image--white + .text-and-image {
    &:not(.text-and-image--white) {
        padding: 7rem 0;

        @include media-breakpoint-up(sm) {
            padding: 9rem 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 11rem 0 13rem 0;
        }

        @include media-breakpoint-up(xxl) {
            padding: 14.6rem 0 16.4rem 0;
        }
    }
}

.two-col-text + .text-and-image {
    padding-top: 0;
}
