.three-col-stats {
    &__block {
        background-color: $clr-purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8.4rem 3rem 6.6rem;
        text-align: center;

        @include media-breakpoint-up(xl) {
            padding: 8.4rem 5vw 6.6rem;
        }

        @include media-breakpoint-up(xxl) {
            padding: 8.4rem 7vw 6.6rem;
        }

        &:nth-child(even) {
            background-color: $clr-sky-blue;
        }
    }

    &__stat {
        font-size: 6.9rem;
        font-weight: bold;
        letter-spacing: -0.153rem;
        line-height: 1;
        margin: 0 0 4rem;
    }

    &__icon {
        width: 10rem;
        height: 10rem;
        object-fit: contain;
        object-position: center;
        margin: 0 0 4rem;
    }
}
