.two-tier-hero {
    position: relative;

    &__background {
        display: none;

        @include media-breakpoint-up(xl) {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__top {
        position: relative;
        z-index: 2;
        padding: 14rem 0 6rem 0;

        @include media-breakpoint-up(sm) {
            padding: 14rem 0 8rem 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 0 0 25.3rem;
            height: 1177px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__bottom {
        position: relative;
        z-index: 2;
        padding: 6rem 0;
        background-color: $clr-sky-blue;

        @include media-breakpoint-up(sm) {
            padding: 8rem 0 5rem 0;
        }

        @include media-breakpoint-up(xl) {
            background-color: unset;
            min-height: 67.5rem;
            padding: 11.5rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    p:last-child {
        margin: 0;
    }
}
