.two-tier-hero {
    position: relative;

    &__top {
        position: relative;
        z-index: 2;
        padding: 15rem 0 8rem 0;

        @include media-breakpoint-up(sm) {
            padding: 15rem 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 0 0 25.3rem;
            height: 1177px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__bottom {
        background-color: $clr-sky-blue;
        position: relative;
        z-index: 2;

        @include media-breakpoint-up(xl) {
            height: 676px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @include media-breakpoint-between(sm, xl) {
            padding: 15rem 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 8rem 0 15rem;
        }

        &:before {
            @include media-breakpoint-up(xl) {
                content: "";
                position: absolute;
                transform: translateY(-100%);
                top: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent transparent $clr-sky-blue transparent;
                z-index: -1;
                border-width: 0 16vw 253px 16vw;
                left: 33%;
            }
        }
    }

    &__image-left {
        display: none;

        @include media-breakpoint-up(xl) {
            display: block;
            position: absolute;
            left: 0;
            bottom: 18.6rem;
            width: 33%;
            height: 98rem;
            z-index: 2;
        }

        img {
            @include media-breakpoint-up(xl) {
                width: 100%;
                height: 100%;
                object-fit: cover;
                clip-path: polygon(100% 50%, 0 0, 0 100%);
            }
        }
    }

    &__image-right {
        display: none;

        @include media-breakpoint-up(xl) {
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            left: calc(49% + -4px);
            height: 86%;
        }

        img {
            @include media-breakpoint-up(xl) {
                width: 100%;
                height: 100%;
                object-fit: cover;
                clip-path: polygon(100% 100%, 100% 0, 0 50%);
            }
        }
    }

    &__shape-top-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 56.5rem 56.5rem 0;
        border-width: 0 39vw 39vw 0;
        border-color: transparent $clr-purple transparent transparent;
        z-index: 3;
    }

    &__shape-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 35rem 35rem 35rem;
        border-width: 0px 24vw 24vw 24vw;
        border-color: transparent transparent $clr-red transparent;
        transform: translateX(-50%);
        z-index: 3;
    }

    &__shape-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 41.7rem 41.7rem;
        border-width: 0px 0 29vw 29vw;
        border-color: transparent transparent $clr-purple transparent;
        z-index: 3;
    }
}
