.blog-content {
    // blog-content__content
    &__content {
        color: $clr-white;

        img {
            margin: 0 0 2rem 0;

            @include media-breakpoint-up(sm) {
                margin: 0 0 3rem 0;
            }
        }
    }

    // blog-content_button
    &__button {
        display: flex;
        justify-content: center;
    }
}
