.blog-content {
    padding: 0 0 4rem;

    @include media-breakpoint-up(md) {
        padding: 0 0 10rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 0 16rem;
    }

    &__content {
        color: $clr-white;

        img {
            margin: 0 0 2rem 0;

            @include media-breakpoint-up(sm) {
                margin: 0 0 3rem 0;
            }
        }
    }

    // blog-content_button
    &__button {
        display: flex;
        justify-content: center;
    }
}
