.bttn {
    cursor: pointer;
    display: inline-block;
    appearance: none;
    background-color: $clr-midnight-blue;
    color: $clr-white;
    font-weight: normal;
    border-radius: 0;
    letter-spacing: -0.044rem;
    line-height: 1.4;
    font-size: 2rem;
    padding: 0.85rem 3rem;
    transition: $transition-default;

    &:hover,
    &:focus,
    &:active {
        background-color: $clr-purple;
    }
}
