.footer-cta {
    padding: 8rem 0 6rem;
    background-image: url(../images/footer-cta-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;

    @include media-breakpoint-down(lg) {
        padding: 5rem 0 6rem 0;
        text-align: center;
    }

    &__heading {
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.083;
        letter-spacing: -0.03rem;
        margin: 0 0 3rem;

        @include media-breakpoint-up(md) {
            font-size: 6rem;
        }
    }
}
