/*
* Hamburger - extends autoload/hamburgers
* This does not follow the BEM naming convention due to it using a third party library
*/

.hamburger {
    position: relative;
    top: 0.1rem;
    right: 0;
    z-index: 2;
    padding: 0.5rem 0.8rem;
    outline: none;
    display: block;
    transition: $transition-default;

    &:active,
    &:focus {
        outline: none;
    }

    &.is-active {
        .hamburger-inner {
            background-color: $clr-midnight-blue;

            &:before,
            &:after {
                background-color: $clr-midnight-blue;
            }
        }
    }

    // hamburger--collapse
    &--collapse {
        .hamburger-inner::after {
            top: -1.4rem;
        }

        &.is-active {
            .hamburger-inner {
                transform: translate3d(0, -0.82rem, 0) rotate(-45deg);
            }
        }
    }

    // hamburger-box
    &-box {
        width: 5.4rem;
        height: 5.4rem;
    }

    // hamburger-inner
    &-inner {
        width: 100%;
        height: 0.3rem;
        border-radius: 0;
        background-color: $clr-white;

        &:before {
            top: -1.5rem;
            width: 100%;
            height: 0.3rem;
            border-radius: 0;
            background-color: $clr-white;
        }

        &:after {
            bottom: -1.5rem;
            width: 100%;
            height: 0.3rem;
            border-radius: 0;
            background-color: $clr-white;
        }
    }
}
