.header {
    padding: 2.1rem 4.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 283px 283px 0 0;
        border-color: #ffffff transparent transparent transparent;
    }
}
