.post-hero {
    padding: 14rem 0 5rem 0;
    position: relative;
    z-index: 2;

    @include media-breakpoint-up(lg) {
        padding: 17.5rem 0 11rem 0;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30vw 30vw 0;
        border-color: transparent $clr-sand transparent transparent;

        @include media-breakpoint-up(lg) {
            border-width: 0 45vw 45vw 0;
        }
    }

    &__heading {
        @include font-size(4.4rem);
        font-weight: 700;
        letter-spacing: -0.099rem;
        line-height: 1.289;
        margin: 0 0 3rem;

        @include media-breakpoint-up(xxl) {
            font-size: 4.4rem;
        }
    }

    &__date {
        color: $clr-grey-blue;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: -0.55px;
        line-height: 34px;
    }
}
