/** Colors */

$clr-black: #000000;
$clr-grey-dark: #ababac;
$clr-grey-light: #eeeeee;
$clr-grey: #e4e4e4;
$clr-white-dark: #fafafa;
$clr-white: #ffffff;
$clr-red-error: #cc0000;
$clr-green-success: #40860a;
