/** Colors */

$clr-black: #292929;
$clr-white: #ffffff;
$clr-purple: #5e3675;
$clr-dark-blue: #041926;
$clr-midnight-blue: #2d3949;
$clr-sky-blue: #0070b8;
$clr-primary-blue: #596e8b;
$clr-mustard: #dda129;
$clr-sand: #d2b37c;
$clr-red: #c51a1b;
$clr-orange: #db712d;
$clr-grey-blue: #8797a3;
